<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css">
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<div class='story-body'>
    <h2>
        Ohio Valley to get about $700 million over 10 years under Rural Digital Opportunity Fund Phase I to bring high-speed broadband in rural areas
    </h2>
    <p>
        Map shows Census Block Groups in Kentucky, Ohio and West Virginia that received <span style='background-color:#8856a7; color:white;'>successful bids</span> in Rural Digital Opportunity Fund auctions as of Nov 25, 2020.
    </p>
    <p class='note' style='text-align:center;'> Hover or click to see details</p>
</div>

<div class='map-container'>
    <div id="map"></div>
</div>
<div class='story-text'>
    <p class='chart-source'>Source: Federal Communications Commission</p>
    <p class='chart-author'>Suhail Bhat / Ohio Valley ReSource</p>
    <p class='chart-author'>Rural Digital Opportunity Fund</p>
</div>

<script src="/scripts/broadband-map.js"></script>
